---
import { author, defaultMetaData } from "@/data/socials";

const { twitter, name } = author;

type Props = {
  title?: string;
  description?: string;
  color?: string;
  ogImage?: {
    src: string;
    alt: string;
  };
  pubDate?: Date;
};

const {
  title = defaultMetaData.title,
  description = defaultMetaData.description,
  ogImage = defaultMetaData.ogImage,
} = Astro.props;

// TODO: We have to fix this url import

// const ogImageURL = new URL(ogImage.src, Astro.site).href;
const canonicalURL = new URL(Astro.url).href;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>{title}</title>
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="canonical" href={canonicalURL} />
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />

<!-- <meta property="og:image" content={ogImageURL} /> -->
<meta property="og:site_name" content={name} />
<meta property="og:image:alt" content={ogImage.alt} />
<meta property="og:locale" content="en_US" />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta name="twitter:site" content={twitter} />
<meta name="twitter:creator" content={twitter} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<!-- <meta property="twitter:image" content={ogImageURL} /> -->
<meta name="generator" content={Astro.generator} />
<meta name="robots" content="follow, index" />
<meta name="author" content={name} />
<!-- <meta name="theme-color" content={color} /> -->
